/****** Utils ******/
@use "utils/colors";
@use "utils/mixins";
@use "utils/root";
@use "utils/base";

@use 'layout/header';
@use 'layout/header-2';
@use 'layout/header-3';
@use 'layout/content';
@use 'layout/footer';
@use 'layout/dark-mode';

@use 'components/button';
@use 'components/avatar';
@use 'components/badge';
@use 'components/background';
@use 'components/forms';
@use 'components/dropdown';
@use 'components/breadcrumb';
@use 'components/select2';
@use 'components/bootstrap';
@use 'components/typography';
@use 'components/card';
@use 'components/border';
@use 'components/modal';

// pages
@use 'pages/home';
@use 'pages/index';
@use 'pages/about-us';
@use 'pages/buy-grid';
@use 'pages/agent';
@use 'pages/blogs';
@use 'pages/invoice';
@use 'pages/notification';
@use 'pages/add-property';
@use 'pages/buy-property-sidebar';
@use 'pages/contact-us';
@use 'pages/pricing';
@use 'pages/cart';
@use 'pages/checkout';
@use 'pages/login';
@use 'pages/coming-soon';
@use 'pages/faq';
@use 'pages/booking';
@use 'pages/wishlist';