$colors: ( 
    "white": #fff,
    "primary": (
        100: #D2F3ED,
        200: #BBEDE5,
        300: #A4E7DC,
        400: #8EE2D3,
        500: #77DCCA,
        600: #60D6C1,
        700: #49D0B9,
        800: #33CAB0,
        900: #1CC4A7,
        950: #128F7C,
    ),
    "secondary": (
        100: #E4DDFC,
        200: #D6CCFB,
        300: #C9BBF9,
        400: #BBAAF8,
        500: #AD99F7,
        600: #A088F5,
        700: #9277F4,
        800: #8566F2,
        900: #7755F1,
        950: #6E3FE8,
    ),
    "gray": (
        100: #E2E4E6,
        200: #C6CACE,
        300: #AAB0B6,
        400: #90979F,
        500: #5D6772,
        600: #45505C,
        700: #2E3B48,
        800: #182634,
        900: #051321,
    ),
    "light": (
        100: #FEFEFE,
        200: #FDFEFE,
        300: #FDFDFD,
        400: #FCFCFD,
        500: #FBFBFC,
        600: #FAFBFC,
        700: #F9FAFB,
        800: #F9F9FB,
        900: #F8F9FA,
        950: #ECEFF2,
    ),
    "success": (
        100: #DBF8EF,
        200: #C9F5E8,
        300: #B7F2E0,
        400: #A6EFD8,
        500: #94EBD0,
        600: #82E8C8,
        700: #70E5C1,
        800: #5EE1B9,
        900: #0ABF8D,
    ),
    "danger": (
        100: #FFDBE0,
        200: #FEC9D0,
        300: #FEB7C1,
        400: #FEA5B1,
        500: #FE93A1,
        600: #FE8192,
        700: #FD6F82,
        800: #FD5D73,
        900: #FD4B63,
        950: #EA143B,
    ),
    "warning": (
        100: #FFF3E0,
        200: #FFEDD1,
        300: #FFE7C2,
        400: #FFE1B3,
        500: #FFDAA3,
        600: #FFD494,
        700: #FFCE85,
        800: #FFC875,
        900: #FFC266,
        950: #FEA439,
    ),
    "info": (
        100: #D6E5EE,
        200: #C2D8E5,
        300: #AECBDC,
        400: #9ABFD4,
        500: #85B2CB,
        600: #71A5C2,
        700: #5D98B9,
        800: #488BB1,
        900: #347EA8,
        950: #366E93,
    ),    
    "pink": (
        100: #FFECF4,
        200: #FED9E8,
        300: #FDC6DD,
        400: #FAB2D2,
        500: #F79FC6,
        600: #F38BBB,
        700: #EF76B0,
        800: #E960A5,
        900: #E4479B,
    ),
    "purple": (
        100: #ECD2FC,
        200: #E3BCFB,
        300: #D9A6F9,
        400: #D090F8,
        500: #C679F6,
        600: #BD63F5,
        700: #B34DF3,
        800: #AA36F2,
        900: #A020F0,
        950: #8F1BD5,
    ),
    "cyan": (
        100: #D1FFFF,
        200: #BAFFFF,
        300: #A3FFFF,
        400: #8DFFFF,
        500: #76FFFF,
        600: #5FFFFF,
        700: #48FFFF,
        800: #31FFFF,
        900: #1AFFFF,
        950: #00E0E5,
    ), 
    "indigo": (
        100: #DFD1E9,
        200: #CEBADD,
        300: #BEA3D2,
        400: #AE8DC7,
        500: #9E76BC,
        600: #8E5FB1,
        700: #7D48A5,
        800: #6D319A,
        900: #5D1A8F,
        950: #3C0467,
    ),
    "orange": (
        100: #FFEFD1,
        200: #FFE7BA,
        300: #FFDFA3,
        400: #FFD78D,
        500: #FFCE76,
        600: #FFC65F,
        700: #FFBE48,
        800: #FFB631,
        900: #FFAE1A,
        950: #F98D07,
    ),
    "teal": (
        100: #D1E8E8,
        200: #BADDDD,
        300: #A3D1D1,
        400: #8DC6C6,
        500: #76BBBB,
        600: #5FAFAF,
        700: #48A4A4,
        800: #319898,
        900: #1A8D8D,
        950: #186C6D,
    ),
    "primary-transparent": #E8F9F6,
    "secondary-transparent": #F1EEFE,
    "danger-transparent": #FFEDEF,
    "success-transparent": #EDFCF7,
    "warning-transparent": #FFF9F0,
    "info-transparent": #EBF2F6,
    "gray-transparent": #E7E9EC,
    "light-transparent": #EBF2F6,
    "cyan-transparent": #E8FFFF,
    "indigo-transparent": #EFE8F4,
    "orange-transparent": #FFF7E8,
    "pink-transparent": #FDF4F9,
    "purple-transparent": #F6E9FE,
    "teal-transparent": #E8F4F4,
    "form-bg": #F7F8FA,
    "input-border": #F7F8FA,
    'heading': (
        'color': #051321,
    ),
    'body': (
        'color': #5D6772,
    ),
    'border': (
        'color': #E2E4E6,
    ),
);
$theme-colors: ( 
    "primary": #03BD9D,
    "secondary": #6842EF,
    "dark": #0D1520,
    "light": #F7F8FA,
    "info": #347EA8,
    "danger": #FD3752,
    "success": #38DAA8,
    "warning": #FFBB55,
    "cyan": #00FFFF,
    "indigo": #4B0082,
    "pink": #DD2590,
    "orange": #FFA500,
    "purple": #A020F0,
    "teal": #008080,
);
$theme-dark-color: ( 
    "light": #222423
);

$dark-color: ( 
    "white": #000403,
    "dark": #FEFFFF,
    "gray": (
        100: #3A3A3A,
        200: #3E3F3E,
        300: #555656,
        400: #6D6D6D,
        500: #929292,
        600: #B4B4B4,
        700: #DADBDB,
        800: #EDEFEF,
        900: #F6FAFA,
    ),
    "light": (
        100: #EDEDED,
        200: #E8E8E8,
        300: #E3E3E3,
        400: #D3D4D4,
        500: #B7B7B7,
        600: #949494,
        700: #616161,
        800: #434343,
        900: #363636,
        950: #262828,
    ),
    "form-bg": #363636,
    "input-border": #363636,
    'heading': (
        'color': #F6FAFA,
    ),
    'body': (
        'color': #929292,
    ),
    'border': (
        'color': #3A3A3A,
    )
);
