@use '../utils' as *;

.main-header-two {
    position: absolute;
    z-index: 1050;
    top: 0;
    left: 0;
    width: 100%;
    @include transition(all 0.3s ease 0s);    
}
.header {
    &.header-two {
        background: transparent;
        margin-top: 30px;
        .navbar {
            background: var(--white);
            padding: 0 16px;
            border-radius: 10px;
            @include respond-below(xl) {
                .navbar-brand {
                    width: 180px;
                }
            }
        }
        &.fixed {
            margin-top: 0;
            background: var(--white);
            .navbar {
                padding: 0;
                border-radius: 0;
            }
        }
    }
}