@use '../utils' as *;

.border-container {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: 0.25rem;
    background-color: var(--light);
}
.border {
    border: 1px solid var(--border-color) !important;
    &.border-dashed {
        border-style: dashed !important;
    }
    &.border-dotted {
        border-style: dotted !important;
    }
    &.border-primary {
        border: 1px solid var(--primary) !important;
        opacity: 1;
        &.border-opacity-10 {
            border-color: rgba(var(--primary-rgb), 0.1) !important;
        }
        &.border-opacity-25 {
            border-color: rgba(var(--primary-rgb), 0.25) !important;
        }
        &.border-opacity-50 {
            border-color: rgba(var(--primary-rgb), 0.50) !important;
        }
        &.border-opacity-75 {
            border-color: rgba(var(--primary-rgb), 0.75) !important;
        }
        &.border-opacity-100 {
            border-color: rgba(var(--primary-rgb),1) !important;
        }
    }
    &.border-secondary {
        border: 1px solid var(--secondary) !important;
        opacity: 1;
        &.border-opacity-10 {
            border-color:  rgba(var(--secondary-rgb),0.1) !important;
        }
        &.border-opacity-25 {
            border-color:  rgba(var(--secondary-rgb),0.25) !important;
        }
        &.border-opacity-50 {
            border-color:  rgba(var(--secondary-rgb),0.50) !important;
        }
        &.border-opacity-75 {
            border-color:  rgba(var(--secondary-rgb),0.75) !important;
        }
        &.border-opacity-100 {
            border-color:  rgba(var(--secondary-rgb),1) !important;
        }
    }
    &.border-info {
        border-color: var(--info) !important;
        opacity: 1;
        &.border-opacity-10 {
            border-color:  rgba(var(--info-rgb),0.1) !important;
        }
        &.border-opacity-25 {
            border-color:  rgba(var(--info-rgb),0.25) !important;
        }
        &.border-opacity-50 {
            border-color:  rgba(var(--info-rgb),0.50) !important;
        }
        &.border-opacity-75 {
            border-color:  rgba(var(--info-rgb),0.75) !important;
        }
        &.border-opacity-100 {
            border-color:  rgba(var(--info-rgb),1) !important;
        }
    }
    &.border-success {
        border-color: var(--success) !important;
        opacity: 1;
        &.border-opacity-10 {
            border-color:  rgba(var(--success-rgb),0.1) !important;
        }
        &.border-opacity-25 {
            border-color:  rgba(var(--success-rgb),0.25) !important;
        }
        &.border-opacity-50 {
            border-color:  rgba(var(--success-rgb),0.50) !important;
        }
        &.border-opacity-75 {
            border-color:  rgba(var(--success-rgb),0.75) !important;
        }
        &.border-opacity-100 {
            border-color:  rgba(var(--success-rgb),1) !important;
        }
    }
    &.border-warning {
        border: 1px solid var(--warning) !important;
        opacity: 1;
        &.border-opacity-10 {
            border-color:  rgba(var(--warning-rgb),0.1) !important;
        }
        &.border-opacity-25 {
            border-color:  rgba(var(--warning-rgb),0.25) !important;
        }
        &.border-opacity-50 {
            border-color:  rgba(var(--warning-rgb),0.50) !important;
        }
        &.border-opacity-75 {
            border-color:  rgba(var(--warning-rgb),0.75) !important;
        }
        &.border-opacity-100 {
            border-color:  rgba(var(--warning-rgb),1) !important;
        }
    }
    &.border-danger {
        border: 1px solid var(--danger) !important;
        opacity: 1;
        &.border-opacity-10 {
            border-color:  rgba(var(--danger-rgb),0.1) !important;
        }
        &.border-opacity-25 {
            border-color:  rgba(var(--danger-rgb),0.25) !important;
        }
        &.border-opacity-50 {
            border-color:  rgba(var(--danger-rgb),0.50) !important;
        }
        &.border-opacity-75 {
            border-color:  rgba(var(--danger-rgb),0.75) !important;
        }
        &.border-opacity-100 {
            border-color:  rgba(var(--danger-rgb),1) !important;
        }
    }
    &.border-white {
        border: 1px solid var(--white) !important;
        opacity: 1;
    }
    &.border-light {
        border: 1px solid var(--light) !important;
        opacity: 1;
        &.border-opacity-10 {
            border-color:  rgba(var(--light-rgb),0.1) !important;
        }
        &.border-opacity-25 {
            border-color:  rgba(var(--light-rgb),0.25) !important;
        }
        &.border-opacity-50 {
            border-color:  rgba(var(--light-rgb),0.50) !important;
        }
        &.border-opacity-75 {
            border-color:  rgba(var(--light-rgb),0.75) !important;
        }
        &.border-opacity-100 {
            border-color:  rgba(var(--light-rgb),1) !important;
        }
    }
    &.border-dark {
        border: 1px solid var(--dark) !important;
        opacity: 1;
        &.border-opacity-10 {
            border-color:  rgba(var(--dark-rgb),0.1) !important;
        }
        &.border-opacity-25 {
            border-color:  rgba(var(--dark-rgb),0.25) !important;
        }
        &.border-opacity-50 {
            border-color:  rgba(var(--dark-rgb),0.50) !important;
        }
        &.border-opacity-75 {
            border-color:  rgba(var(--dark-rgb),0.75) !important;
        }
        &.border-opacity-100 {
            border-color:  rgba(var(--dark-rgb),1) !important;
        }
    }
    &.border-opacity-10 {
        --bs-border-opacity: 0.1 !important;
    }
    &.border-opacity-25 {
        --bs-border-opacity: 0.25 !important;
    }
    &.border-opacity-50 {
        --bs-border-opacity: 0.5 !important;
    }
    &.border-opacity-75 {
        --bs-border-opacity: 0.75 !important;
    }
    &.border-opacity-100 {
        --bs-border-opacity: 1 !important;
    }
    &.border-1 {
        border-width: 1px !important;
    }
    &.border-2 {
        border-width: 2px !important;
    }
    &.border-3 {
        border-width: 3px !important;
    }
    &.border-4 {
        border-width: 4px !important;
    }
    &.border-5 {
        border-width: 5px !important;
    }
    &.border-block-start-dashed {
        border-top-style: dashed;
    }
    &.border-block-start-dotted {
        border-top-style: dotted;
    }
    &.border-inline-end-dashed {
        border-inline-end-style: dashed;
    }
    &.border-inline-end-dotted {
        border-inline-end-style: dotted;
    }
    &.border-block-end-dashed {
        border-bottom-style: dashed;
    }
    &.border-block-end-dotted {
        border-bottom-style: dotted;
    }
    &.border-inline-start-dashed {
        border-inline-start-style: dashed;
    }
    &.border-inline-start-dotted {
        border-inline-start-style: dotted;
    }
    &.border-0 {
        border: 0 !important;
    }
    &.border-top-0 {
        border-block-start: 0 !important;
    }
    &.border-end-0 {
        border-inline-end: 0 !important;
    }
    &.border-bottom-0 {
        border-block-end: 0 !important;
    }
    &.border-start-0 {
        border-inline-start: 0 !important;
    }
}
.border-top {
    border-top: 1px solid var(--border-color) !important;
    &.border-block-start-dashed {
        border-top-style: dashed !important;
    }
    &.border-block-start-dotted {
        border-top-style: dotted !important;
    }
    &.border-primary {
        border-color: var(--primary) !important;
    }
    &.border-secondary {
        border-color: var(--secondary) !important;
    }
    &.border-warning {
        border-color: var(--warning) !important;
    }
    &.border-info {
        border-color: var(--info) !important;
    }
    &.border-success {
        border-color: var(--success) !important;
    }
    &.border-danger {
        border-color: var(--danger) !important;
    }
    &.border-light {
        border-color: var(--light) !important;
    }
    &.border-dark {
        border-color: var(--dark) !important;
    }
}
.border-end {   
    border-inline-end: 1px solid var(--border-color) !important;
    &.border-inline-end-dashed {
        border-inline-end-style: dashed !important;
    }
    &.border-inline-end-dotted {
        border-inline-end-style: dotted !important;
    }
    &.border-primary {
        border-color: var(--primary) !important;
    }
    &.border-secondary {
        border-color: var(--secondary) !important;
    }
    &.border-warning {
        border-color: var(--warning) !important;
    }
    &.border-info {
        border-color: var(--info) !important;
    }
    &.border-success {
        border-color: var(--success) !important;
    }
    &.border-danger {
        border-color: var(--danger) !important;
    }
    &.border-light {
        border-color: var(--light) !important;
    }
    &.border-dark {
        border-color: var(--dark) !important;
    }
}
.border-bottom {
    border-bottom: 1px solid var(--border-color) !important;
    &.border-block-end-dashed {
        border-bottom-style: dashed !important;
    }
    &.border-block-end-dotted {
        border-bottom-style: dotted !important;
    }
    &.border-primary {
        border-color: var(--primary) !important;
    }
    &.border-secondary {
        border-color: var(--secondary) !important;
    }
    &.border-warning {
        border-color: var(--warning) !important;
    }
    &.border-info {
        border-color: var(--info) !important;
    }
    &.border-success {
        border-color: var(--success) !important;
    }
    &.border-danger {
        border-color: var(--danger) !important;
    }
    &.border-light {
        border-color: var(--light) !important;
    }
    &.border-dark {
        border-color: var(--dark) !important;
    }
}
.border-start {
    border-color: var(--border-color) !important;
    &.border-inline-start-dashed {
        border-inline-start-style: dashed !important;
    }
    &.border-inline-start-dotted {
        border-inline-start-style: dotted !important;
    }
    &.border-primary {
        border-color: var(--primary) !important;
    }
    &.border-secondary {
        border-color: var(--secondary) !important;
    }
    &.border-warning {
        border-color: var(--warning) !important;
    }
    &.border-info {
        border-color: var(--info) !important;
    }
    &.border-success {
        border-color: var(--success) !important;
    }
    &.border-danger {
        border-color: var(--danger) !important;
    }
    &.border-light {
        border-color: var(--light) !important;
    }
    &.border-dark {
        border-color: var(--dark) !important;
    }
}

.border-dashed {
    &.border-primary {
        border-style: dashed !important;
    }
}