@use '../utils' as *;
@use "sass:color" as *;

.btn-check:checked+.btn, .btn.active, .btn.show, .btn.show:hover, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
}
button {
    cursor: pointer;
    &:focus{
        outline: 0;
        box-shadow: none;
    }
}
.btn {
    border-radius: $border-radius-lg;
    padding: 6px 10px;
    font-size: 13px;
    transition: all 0.5s;
    font-weight: $font-weight-medium;
    &:focus {
        box-shadow: none !important;
    }
    &:hover {
        transition: all 0.5s;
    }
    &.btn-lg {
        padding: 8px 12px;
        font-size: 14px;
        i {
            font-size: 13px;
        }
    }
    &.btn-xl {
        padding: 10px 14px;
        font-size: 1rem;
    }
    i {
        font-size: 13px;
    }
}

@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
        color: var(--#{$color});
        border: 1px solid var(--#{$color});
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background-color: var(--#{$color});
            border: 1px solid var(--#{$color});
            color: var(--white);
        }
    }
}

@each $color, $value in $theme-colors {
    .btn-#{$color} {
        color: var(--white);
        border: 1px solid var(--#{$color});
        background-color: var(--#{$color});
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background-color: var(--#{$color}-dark);
            border: 1px solid var(--#{$color}-dark);
            color: var(--white);
        }
    }
}

.btn-white {
    color: var(--gray-900);
    border: 1px solid var(--border-color);
    background-color: var(--white);
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
        background-color: var(--primary);
        border: 1px solid var(--primary);
        color: var(--white);
    }
}

.btn-light {
    color: var(--gray-900) !important;
}

.btn-outline-light {
    color: var(--gray-500) !important;
}

.btn-dark {
    transition: 0.5s;
    cursor: pointer;
    &:hover {
        transition: 0.5s;
        background: var(--light);
        color: var(--gray-900);
    }
}