@use '../utils/' as *;

.card {
    border: 1px solid var(--gray-100);
    border-radius: $border-radius-lg;
    box-shadow: $box-shadow-sm;
    margin-bottom: 24px;
    background: var(--white);
    .card-header {
        background: var(--white);
        padding: 1.25rem;
        border-color: var(--gray-100);
    }
    .card-body {
      padding: 1.25rem;
    }
}