@use '../utils' as *;
@use '../utils/colors' as *;


.about-us-item-01 {
    margin-bottom: 40px;
    h2 {
        margin-bottom: 20px;
    }
}
.about-us-img-wrap {
    margin-bottom: 40px;
}
.about-us-item-02 {
    padding: 20px;
    box-shadow: 0px 0px 24px 0px #C5C5C540;
}

.about-us-item-03 {
    padding: 80px;
    background-image: url("/assets/img/bg/about-us-bg-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    @include respond-below(lg) {
        padding: 40px;
    }
    @include respond-below(md) {
        padding: 20px;
    }
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background: linear-gradient(180deg, #000000 0%, #000000 100%);
        opacity: 0.7;
        z-index: 0;
    }
    .about-us-bg-01 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .about-us-bg-02 {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
    h2,h5,p {
        color: var(--white);
    }
}
.about-us-item-04 {
    padding: 60px 0;
    @include respond-below(md) {
        padding: 24px 0;
    }
    h2 {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            height: 4px;
            width: 38px;
            background: linear-gradient(90deg, #03BD9D 0%, #03BD9D 46%, #6842EF 46.03%, #6842EF 100%);
            bottom: -8px;
            right: 50%;
        }
    }
}

.about-us-item-05 {
    margin-bottom: 40px;
}

.about-us-item-06 {
    padding: 60px 0;
    @include respond-below(md) {
        padding: 24px 0;
    }
}