@use '../utils/' as *;

.add-tab-sticky {
    position: sticky;
    top: 60px;
    left: 0;
    z-index: 100;
    margin-bottom: 40px;
    @include transition(all 0.3s ease 0s);   
}

.add-tab-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    li {
        margin-right: 5px;
        &:last-child {
            margin-right: 0;
        }
        a {
            padding: 8px 15px;
            border-radius: $border-radius-lg;
            font-size: 14px;
            display: inline-flex;
            &.active {
                background: var(--dark);
                color: var(--white);
            }
            &:hover {
                background: var(--dark);
                color: var(--white);  
            }
        }
    }
}

.ducument-info {
    margin-left: 20px;
    li {
        list-style-type: disc;
        color: var(--gray-500);
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.selected-imgs {
    position: relative;
    margin-right: 16px;
    .img-file {
        width: 80px;
        height: 80px;
        border-radius: 5px;
        display: block;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
    }
    .delete-circle {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: var(--danger);
        color: var(--white);
        position: absolute;
        top: 5px;
        right: 5px;
        i {
            font-size: 12px;
        }
    }
}
.add-count {
    .delete-icon {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: var(--danger);
        color: var(--white);
    }
}
.google-map {
    height: 400px;
    width: 100%;
    iframe {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}
.add-property-btn {
    button {
        min-width: 145px;
    }
}