@use '../utils' as *;
@use '../utils/colors' as *;

.blog-item-01 {
    box-shadow: 0px 0px 24px 0px #C5C5C540;
    .blog-img {
        overflow: hidden;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        img {
            width: 100%;
            max-height: 358px;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            transition: 1s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .blog-content {
        padding: 20px;
        h5 {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        p {
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }
        .author-details {
            a {
                font-size: 14px;
            }
            span {
                font-size: 14px;
                i {
                    width: 16px;
                }
            }
        }
    }
}

.load-more-btn {
    margin-top: 40px;
}

.blog-item-02 {
    position: relative;
    .blog-img-img {
        position: relative;
        img {
        width: 100%;
        border-radius: 10px;
        }
        &::before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            border-radius: 5px;
            top: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
            z-index: 1;
        }
    }
    .blog-content-02 {
        position: absolute;
        padding: 20px;
        left: 0;
        bottom: 0;
        z-index: 2;
        h5,p {
            color: var(--white);
            a {
                color: var(--white);
                &:hover {
                    color: var(--primary);
                }
            }
        }
    }
}

.blog-details-cover {
    margin-bottom: 60px;
    .blog-details-item-01 {
        position: relative;
        margin-bottom: 100px;
        .blog-details-img-01 {
            position: relative;
            border-radius: 5px;
            img {
                border-radius: 5px;
            }
        }
        .blog-details-content-01 {
            position: absolute;
            bottom: -75px;
            left: 60px;
            right: 60px;
            padding: 20px;
            border-radius: 5px;
            background: var(--white);
            box-shadow: 0px 0px 24px 0px #C5C5C540;
            border: 1px solid var(--gray-100);
            text-align: center;
            .badge {
                margin-bottom: 20px;
            }
            h5 {
                margin-bottom: 20px;
            }
            @include respond-below(md) {
                padding: 10px;
                left: 30px;
                right: 30px;
            }
            @include respond-below(sm) {
                padding: 10px;
                left: 20px;
                right: 20px;
                
                .badge {
                    margin-bottom: 10px;
                }
                h5 {
                    margin-bottom: 10px;
                }
            }
            .author-details {
                a {
                    font-size: 14px;
                }
                span {
                    font-size: 14px;
                }
            }
        }
    }

}
.blog-details-item-02 {
    position: relative;
    h5 {
        margin-bottom: 40px;
    }
    .blog-carousel-wrapper {
        .blog-carousel-prev {
            position: absolute;
            top: 0;
            left: unset;
            right: 52px;
            height: 44px;
            width: 44px;
            border-radius: 100px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            border: none;
            background: var(--light);
            &:hover {
                background: var(--primary);
                color: var(--white);
            }
        }
        .blog-carousel-next {
            position: absolute;
            top: 0;
            right: 0;
            height: 44px;
            width: 44px;
            border-radius: 100px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            border: none;
            background: var(--light);
            &:hover {
                background: var(--primary);
                color: var(--white);
            }
        }
        .blog-carousel {
            .slick-slide {
                margin: 0 10px;
            }
        }
    }
}
