@use '../utils' as *;
@use '../utils/colors' as *;

.booking-wrap {
    .booking-item-01 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border: 1px solid var(--success);
        border-radius: 5px;
        background: var(--success-transparent);
        color: var(--gray-900);
        font-weight: $font-weight-medium;
        margin-bottom: 40px;
    }
}

.rental-payment-wrap {
    .nav.nav-tabs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: none;
        gap: 16px;
        @include respond-below(sm) {
            gap: 0;
        }
        .nav-item {
            flex: 1;
            width: 25%;
            @include respond-below(sm) {
                width: 100%;
                flex: auto;
            }
            .nav-link {
                width: 100%;
                height: 92px;
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                background: var(--light);
                border: 1px solid transparent;
                &.active {
                    background: var(--white);
                    border-color: var(--primary);
                }
            }
        }
    }


}
.arrival-div {
    h5{
        font-size: 16px;
        font-weight: $font-weight-medium;
        margin-bottom: 16px;
    }
    ul {
        margin-bottom: 20px;
        flex-wrap: wrap;
        display: flex;
        gap: 16px;
        li {
            input[type="radio"]{
                display: none;
            }
            input[type="radio"]:checked + label{
                background: var(--dark);
                color: var(--white);
                span{
                    color: var(--white);
                }
            }
            label {
                width: 86px;
                border: 1px solid var(--gray-100);
                padding: 8px;
                text-align: center;
                color: var(--gray-900);
                font-size: 16px;
                border-radius: 10px;
                font-weight: $font-weight-normal;
                cursor: pointer;
                @include respond-below(xxl) {
                    width: 73px;
                }
                span {
                    display: block; 
                    font-size: 20px;
                    font-weight: $font-weight-bold;
                    color: var(--dark);
                }
            }
        }
    }
}