@use '../utils/' as *;
@use '../utils/colors' as *;

// Results

.search-item {
    background-color: var(--white);
    box-shadow: 0px 0px 24px 0px #C5C5C540;
    p {
        color: var(--gray-500);
        .result-value{
            color: var(--gray-900);
        }
    }
    .result-list {
        @include respond-below(md) {
            width: 100%;
        }
        h5 {
            font-size: 14px;
            font-weight: $font-weight-medium;
            color: var(--gray-900);
            margin: 0px;
        }
        .result-select {
            @include respond-below(md) {
                width: 100%;
            }
            .select {
                width: 150px;
                height: 38px;
                padding: 6px 12px;
                font-size: 14px;
                font-weight: $font-weight-normal;
                color: var(--gray-900);
                border:none;
                background-color: var(--light);
                border-radius: $border-radius-lg;
                outline: none;
                @include respond-below(md) {
                    width: 100%;
                }
            }
            .select2-selection__rendered {
                width: 150px;
                @include respond-below(md) {
                    width: 100%;
                }
            }
        }
    }
    .grid-list-view {
        gap: 12px;
        .list-icon {
            width: 32px;
            height: 32px;
            font-size: 16px;
            border: 1px solid var(--gray-100);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: $border-radius-lg;
        }
        .active {
            background-color: var(--primary);
            color: var(--white);
            border: 1px solid var(--primary);
        }
    }
}

// Property card
.property-card {
    border: 1px solid var(--gray-100);
    border-radius: $border-radius-lg;
    box-shadow: $box-shadow-sm;
    overflow: hidden;
    margin-bottom: 24px;
    position: relative;

    .property-listing-item {
        .buy-grid-img {
            margin-bottom: 0px;
            position: relative;
            a {
                position: relative;
                display: block;
                &::after {
                    content: "";
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    top: 0;
                    left: 0;
                }
            }
            .favourite{ 
                display: flex;
                &::after{
                    content: unset;
                }
            }
        }
        .custom-badge{
            padding: 18px 5px 5px 5px;
            justify-content: center;
            text-align: center;
            position: relative;
            top: -16px;
        }

        .buy-grid-content {
            padding: 20px;
            .user-avatar {
                width: 40px;
                height: 40px;
            }
        }
        .buy-list-img {
            height: 100%;
            width: 100%;
            max-width: 475px;
            border-radius: 5px 0 0 5px;
            @include respond-below(xl) {
                height: 100%;
                max-width: 100%;
            }
            @include respond-below(md){
                width: 100%;
            }
            @include respond-below(lg){
                border-radius: 5px 5px 0 0;
            }
            img {
                border-radius: 5px 0 0 5px;
                @include respond-below(xl) {
                    height: 100%;
                    object-fit: cover;
                }
                @include respond-below(lg){
                    border-radius: 5px 5px 0 0;
                }
                @include respond-below(md){
                    width: 100%;
                }
            }
        }
        .rent-list-img{
            height: 272px;

            @include respond-below(xl) {
                max-width: 416px;
                height: 295px;
            }
            @include respond-below(lg) {
                height: unset;
                width: 100%;
                max-width: 100%;
            }
            img{
                height: 272px;
                object-fit: cover;

                @include respond-below(xl) {
                    height: 305px;
                }
                @include respond-below(lg) {
                    height: unset;
                }
            }
        }
    }
}


// buy-grid-map

.buy-grid-map-item-04 {
    height: 100%;
    min-height: 100%;
    z-index: 1029;
    width: 100%;
    .map-listing {
        height: calc(100vh - 80px);
        width: 100%;
        position: sticky;
        top:5px;
        height: 100%;
        @include respond-below(xl) {
            height: 600px;
            margin-top: 35px;
        }
    }
    .gm-style img {
        max-width: 100%;
        height: 207px;
        object-fit: cover;
    }
}
    
// Buy details

.buy-details-item {

    .custom-btn{
        margin-bottom: 20px;
        a{
            display: flex;
            align-items: center;
            width: 48%;
            i{
                line-height: 0px;
            }
        }
        .btn-outline-dark{
            border: 1px solid var(--gray-100);
        }
    }
    .buy-social-icons-items{
        a {
            width: 40px;
            height: 40px;
            font-size: 15px;
            color: var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: $rounded;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
                transform: translateY(-3px) scale(1.1);
                transition: 0.4s;
            }
        }
        .item-1{
            background-color: #3080F8;
        }
        .item-2{
            background-color: #FF2D20;
        }
        .item-3{
            background-color: #0066FF;
        }
        .item-4{
            background-color: #35B6FF;
        }
        .item-5{
            background-color: #FF2D20;
        }
        .item-6{
            background-color: #0066FF;
        }

    }
    .select-date-item{
        margin-bottom: 20px;
        .flex-column{
            border: 1px solid var(--gray-100);
            padding: 12px 0;
            border-radius: $border-radius-lg;
            text-align: center;
            justify-content: center;
            flex: 1;
            &:hover{
                background-color: var(--dark);
                transition: 0.3s;
                border-color: var(--dark);
                p{
                    color: var(--white);
                    transition: 0.3s;
                }
                h5{
                    color: var(--white);
                    transition: 0.3s;
                }
            }
            p{
                color: var(--primary);
            }
        }

    }
}

.custom-address-item {
    @include respond-below(sm) {
        font-size: 12px !important;
    }
}

.buy-property-items {
    display: flex;
    flex-direction: column;
    gap: 24px;
    p {
        font-size: 16px;
        font-weight: $font-weight-normal;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        i {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--secondary);
            color: var(--white);
            border-radius: $border-radius-lg;
            margin-right: 8px;
        }
    }
}
.video-items{
    
    .video-bg{  
        width: 100%;
        max-width: 814px;
        height: 398px;
        object-fit: cover;
        border-radius: $border-radius-lg;
        @include respond-below(xl){
            max-width: 100%;
        }
        @include respond-below(sm){
            height: 100%;
        }
    }
    .video-icon{
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        i {
            font-size: 60px;
            @include respond-below(lg) {
                font-size: 40px;
            }
        }
    }
}
.review-items {
    .fa-circle {
        font-size: 4px;
        line-height: 0px;
    }
    .reply-btn {
        height: 32px;
        border-radius: $border-radius-lg;
        border: 1px solid var(--gray-100);
    }
}
.custom-properties-items {
    margin-top: 40px;
}

// Slider

.slider-card {
    .slide-part {
        width: 100%;
        height: 499px;
        overflow: hidden;
        border-radius: $border-radius-lg;
        @include respond-below(xxl){
            height: 425px;
        }
        @include respond-below(lg){
            height: 100%;
        }
        .service-img-wrap {
            width: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: $border-radius-lg;
            }
        }
    }
    .slider-nav-thumbnails {
        margin: 0 -10px;
        .slick-slide {
            margin: 0px 12px;
            height: 126px;
            @include respond-below(md) {
                margin: auto;
            }
            img{
                border-radius: $border-radius-lg;
                height: 100%;
                width: 100%;
                @include respond-below(md) {
                    margin: auto;
                }
            }
        }
    }
    .slick-arrow {
        width: 32px;
        height: 32px;
        border: 1px solid var(--gray-100);
        font-size: 0;
        background: var(--white);
        border-radius: 50%;
        z-index: 9999;
        transition: 0.5s all;
        @include respond-below(sm){
            width: 22px;
            height: 22px;
        }
    }
    .slick-next {
        position: absolute;
        bottom: 0px;
        right: 16px;
        top: 0px;
        transform: unset;
        margin: auto;
        &::before {
            content: "\f054";
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-size: 12px;
            font-weight: 900;
            color: var(--gray-900);
        }
    }
    .slick-prev {
        position: absolute;
        bottom: 0px;
        left: 16px;
        top: 0px;
        transform: unset;
        margin: auto;
         &::before {
            content: "\f053";
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-size: 12px;
            font-weight: 900;
            color: var(--gray-900);
        }
    }
}



.gallery-body {
    padding: 4px 8px;
}
.gallery-slider {
    .gallery-card {
        margin: 12px;
    }
}

.custom-map {

    iframe {
        width: 100%;
        height: 195px;
        border-radius: 5px;
    }
    .btn-dark {
        position: absolute;
        left: 40%;
        top: 50%;
    }
}

.review-progress {
    .progress-lvl {
        display: grid;
        grid-template-columns: 4.8fr 9fr 1.7fr;
        gap: 8px;
        align-items: center;
        justify-content: space-between;
        .progress {
            height: 6px;
        }
        p {
            margin-bottom: 0px;
            color: var(--gray-500);
            white-space: nowrap;
        }
    }
}


.floor-items {
    gap: 12px;
    a {
        width: 25px;
        height: 25px;
        background: transparent;
        border-radius: $border-radius-lg;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.7s;
        &:hover {
            width: 25px;
            height: 25px;
            background: var(--white);
            border-radius: $border-radius-lg;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.7s;
        }
        i {


        }
    }
}

// Buy-details-rent-details.html-item

.buy-details-header-item {
    background: url("/assets/img/bg/breadcrumb-bg.jpg");
    background-size: 100%;
    header {
        background: transparent;
        .logo-dark {
            display: block !important;
        }
        .logo {
            display: none;
        }
        .main-menu-wrapper {
            .main-nav {
                li {
                    a {
                        color: var(--white);
                        &:hover {
                            color: var(--primary);
                        }
                    }
                    &.active {
                        a {
                            color: var(--primary);
                        }
                    }
                }
            }
        }
        .header-items {
            .custom-btn-light {
                background-color:var(--white)FFF33 ;
                backdrop-filter: blur(14px);
                border:none;
                color: var(--white) !important;
            }
        }

        .main-menu-wrapper {
            .main-nav {
                li {

                    @include respond-below(xl) {
                        margin-right: 10px !important;
                    }
                    @include respond-below(xxl) {
                        margin-right: 13px !important;
                    }
                }
            }
        }
    }
    header.fixed {
        background-color: var(--white);
        .logo-dark {
            display: none !important;
        }
        .logo {
            display: block !important;
        }
        .main-menu-wrapper {
            .main-nav {
                li {
                    a {
                        color: var(--gray-900);
                    }
                    @include respond-below(xl) {
                        margin-right: 10px !important;
                    }
                    @include respond-below(xxl) {
                        margin-right: 7px !important;
                    }
                }
            }
        }
        .header-items {
            .custom-btn-light {
                background-color:var(--light) ;
                border:none;
                color: var(--gray-900) !important;
            }
        }
    }
}


.whishlist-item{
    margin-bottom: 30px;
    .nav-link{
        width: 145px;
        height: 37px;
        border: 1px solid var(--gray-100);
        font-size: 14px;
        font-weight: 500;
        color: var(--gray-900);
        display: flex;
        align-items: center;
        gap: 4px;
        border-radius: 30px;
        &.active{
            background-color: var(--primary);

        }
    }
}
.rating-selction {
    direction: rtl !important;
    label {
        display: inline-block;
        color: var(--gray-100);
        cursor: pointer;
        font-size: 16px;
        transition: color 0.2s;
        &:hover {
            color: var(--warning);

            ~label {
                color: var(--warning);
            }
        }
    }
    input {
        display: none;
        &:checked {
            ~label {
                color: var(--warning);
            }
        }
    }
}
.gm-ui-hover-effect {
    position: absolute !important;
    width: 20px !important;
    height: 20px !important;
    right: 0;
    span {
        width: 15px !important;
        height: 15px !important;
        margin: 0 !important;
    }
}


