@use '../utils' as *;
@use '../utils/colors' as *;

.cart-item-wrap {
    .cart-item-01 {
        padding: 20px;
        border: 1px solid var(--gray-100);
        border-radius: 5px;
        box-shadow: 0px 0px 24px 0px #C5C5C540;
        .cart-title {
            .btn {
                display: flex;
                align-items: center;
                i {
                    font-size: 16px;
                    margin-right: 4px;
                }
            }
        }
        .cart-item-02 {
            padding: 16px;
            border: 1px solid var(--gray-100);
            border-radius: 5px;
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                border-radius: 5px;
                @include respond-below(sm) {
                    width: 100%;
                    margin-right: 0;
                }
            }
            p {
                display: flex;
                align-items: center;
                font-size: 14px;
                i {
                    margin-right: 4px;
                    font-size: 14px;
                }
            }
            .cart-content-01 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                // padding: 20px;
                .quantity-input {
                    width: 32px;
                    height: 32px;
                    padding: 0;
                    border: none;
                    background: var(--light);
                    text-align: center;
                    border-radius: 5px;
                    font-size: 14px;
                }
                .btn-cover {
                    .minus-btn, .add-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 32px;
                        height: 32px;
                        margin-right: 4px;
                        font-size: 16px;
                        font-weight: $font-weight-medium;
                        border: 1px solid var(--gray-100);
                        &:last-child {
                            margin-right: 0;
                            margin-left: 4px;
                        }
                    }
                }
                .remove-btn {
                    display: flex;
                    align-items: center;
                    border: 1px solid var(--danger);
                    color:var(--danger);
                    font-size: 13px;
                    font-weight: $font-weight-medium;
                    i {
                        font-size: 13px;
                        margin-right: 4px;
                    }
                    &:hover {
                        background: var(--danger);
                        color: var(--white);
                    }
                }
            }
        }
    }

    .cart-item-03 {
        padding: 20px;
        border: 1px solid var(--gray-100);
        border-radius: 5px;
        box-shadow: 0px 0px 24px 0px #C5C5C540;
        span {
            font-size: 14px;
            color: var(--gray-900);
            font-weight: $font-weight-semibold;
        }
        .btn.btn-success {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}