@use '../utils' as *;
@use '../utils/colors' as *;

.checkout-wrap {
    .checkout-item-01 {
        padding: 20px;
        border: 1px solid var(--gray-100);
        border-radius: 5px;
        box-shadow: 0px 0px 24px 0px #C5C5C540;
        h6 {
            margin-bottom: 16px;
        }
        .tab-head {
            font-size: 16px;
            font-weight: $font-weight-medium;
            margin-bottom: 16px;
        }
        .nav.nav-tabs {
            border: none;
            .nav-item {
                display: inline-flex;
                align-items: center;
                margin-right: 24px;
                position: relative;
                input {
                    width: 16px;
                    height: 16px;
                }
                .nav-link {
                    border: none;
                    padding-left: 8px;
                    color: var(--gray-500);
                    &:active {
                    color: var(--gray-900);
                    }
                }
            }
        }
        .checkout-item-03 {
            h6 {
                font-size: 16px;
                font-weight: $font-weight-medium;
                margin-bottom: 16px;
            }
            .btn.btn-light {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 4px;
                i {
                    font-size: 14px;
                }
            }
            .expiry-time {
                p {
                    margin-bottom: 0;
                    font-size: 14px;
                    font-weight: $font-weight-medium;
                }
                span {
                    font-size: 13px;
                    color: var(--gray-500);
                }
            }
        }
        .pay-submit {
            .btn {
                width: 180px;
                padding: 8px 0;
            }
        }
    }

    .checkout-item-02 {
        padding: 20px;
        border: 1px solid var(--gray-100);
        border-radius: 5px;
        box-shadow: 0px 0px 24px 0px #C5C5C540;
        span {
            font-size: 14px;
            color: var(--gray-900);
            font-weight: $font-weight-semibold;
        }
    }
}

.modal-dialog.modal-dialog-centered.modal-md {
    max-width: 500px;
    .modal-body {
        padding: 40px;
        .btn.btn-dark {
            width: 180px;
        }
    }
}