@use '../utils' as *;
@use '../utils/colors' as *;

.contact-us-wrap-01 {
    padding: 60px 0;
    background: var(--light);
    @include respond-below(md) {
        padding: 24px 0;
    }

    img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }
    .btn {
            &:hover {
                background: var(--primary);
                border-color: var(--primary);
            }
        }
}

.contact-us-wrap-02 {
    background: var(--white);
    padding: 60px 0;
    @include respond-below(md) {
        padding: 24px 0;
    }
    img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }
    .contact-us-item-01 {
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 24px 0px #C5C5C540;
        margin-bottom: 24px;
        span {
            padding: 14px;
            border: 1px solid var(--primary);
            font-size: 32px;
            background: var(--primary-100);
            color: var(--primary);
            border-radius: 100px;
            margin-right: 16px;
        }
    }
    .contact-us-item-02 {
        padding: 32px;
        margin-left: 24px;
        border-radius: 5px;
        box-shadow: 0px 0px 24px 0px #C5C5C540;
        @include respond-below(lg) {
            margin-left: 0;
        }
        @include respond-below(md) {
        padding: 16px;
    }
        h2 {
            margin-bottom: 20px;
        }

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background: var(--primary);
                border-color: var(--primary);
            }
        }
    }
}