@use '../utils' as *;
@use '../utils/colors' as *;

.faq-sidebar {
    top: 0;
    position: sticky;
    .faq-sidebar {
        .nav-link {
            padding: 12px 20px;
            border-radius: 10px;
            margin-bottom: 4px;
            color: var(--gray-500);
            &:last-child {
                margin-bottom: 0;
            }
            &.active {
            background: var(--dark);
            color: var(--white);
            }
        }
    }
}

.accordion-button {
    font-weight: $font-weight-bold;
    font-size: 18px;
    border-bottom: none;
    background: var(--white);
}

.accordion-bordered {
    .accordion-item {
        border-radius: 5px;
        margin-bottom: 8px;
        background: var(--white);
        border-color: var(--gray-100);
        &:not(:first-of-type) {
            margin-top: 0.5rem;
        }

        .accordion-button {
            color: var(--gray-900);
            border-radius: 5px;

            &:not(.collapsed) {
                background: transparent;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-top: 1px solid var(--gray-100);
                border-bottom: none;
                box-shadow: none;
            }
        }
    }
    .accordion-body {
        border-bottom: none;
        padding-top: 0px;
        color: var(--gray-500);
    }
}

.accordion-arrow-none {
    .accordion-button {
        &::after {
            background-image: none;
        }
    }
}


.accordion-custom-icon {
    .accordion-icon {
        position: absolute;
        right: 20px;
    }
    .accordion-icon-off {
        display: none;
    }

    [aria-expanded="true"] {
        .accordion-icon-off {
            display: block;
        }
        .accordion-icon-on {
            display: none;
        }
    }
}

.faq-items{

    .faq-card{  
        border: 1px solid var(--gray-100);
        padding: 16px;
        border-radius: $border-radius-lg;
        margin-bottom: 16px;
        position: relative;
        .faq-title{
            font-size: 16px;
            font-weight: $font-weight-medium;
            color: var(--gray-900);
            margin: 0px;
            @include respond-below(lg) {
                padding-right: 14px;
            }
        }
        a{
            &::after {
                content: "+";
                position: absolute;
                top: 15px;
                right: 17px;
                color: var(--gray-500);
                font-weight: 600;
                border: 1px solid var(--gray-500);
                width: 18px;
                height: 18px;
                text-align: center;
                border-radius: 50%;
                font-size: 15px;
                line-height: 15px;
            }
        }
        a:not(.collapsed):after {
            content: "-";   
        }
        .faq-content{
            padding-top: 16px;
            p{
                font-size: 14px;
                border-top: 1px solid var(--gray-100);
                padding-top: 16px;
                margin: 0px;
            }
        }
    }
}