.search-wrap {
    h5 {
        margin-bottom: 0;
    }
    .close {
        color: var(--gray-500);
        &:hover {
            color: var(--primary);
        }
    }
    .input-group {
        margin-bottom: 16px;
    }
    .search-list {
        h6 {
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                color: var(--body-color);
                &:hover {
                    color: var(--primary);
                }
            }
        }
    }
}