@use '../utils' as *;
@use '../utils/colors' as *;

.invoice-item-wrap {
    padding: 20px;
    border: 1px solid var(--gray-100);
    border-radius: 5px;

    .invoice-item-01 {
        h6 {
            color: var(--gray-500);
            font-size: 16px;
            font-weight: $font-weight-semibold;
            margin-bottom: 8px;
        }
        p {
            color: var(--gray-900);
            margin-bottom: 4px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .invoice-item-02 {
        h6 {
            color: var(--primary);
            font-size: 16px;
            font-weight: $font-weight-semibold;
            margin-bottom: 8px;
        }
        p {
            margin-bottom: 4px;
            &:last-child {
                margin-bottom: 0;
            }
            span {
                color: var(--gray-900);
            }
        }
    }
}