@use '../utils' as *;
@use '../utils/colors' as *;

.pricing-item-01 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    .nav.nav-tabs {
        padding: 6px 12px;
        border: 1px solid var(--gray-100);
        border-radius: 50px;
        .nav-item {
            margin-right: 4px;
            &:last-child {
                margin-right: 0;
            }
            .nav-link {
                padding: 6px 12px;
                font-size: 16px;
                font-weight: $font-weight-medium;
                border-radius: 50px;
                color: var(--gray-900);
                &:hover {
                    border-color: transparent;
                }
                &.active {
                    background: var(--primary);
                    color: var(--white);
                    border-color: var(--primary);
                }
            }
        }
    }
}

.pricing-item-02 {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 24px 0px #C5C5C540;
    border: 3px solid transparent;
    .plan-head {
        margin-bottom: 24px;
        p {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .plan-price {
        margin-bottom: 24px;
        h2 {
            display: flex;
            align-items: center;
            span {
                font-size: 16px;
                color: var(--gray-500);
                font-weight: $font-weight-normal;
                margin-left: 4px;
            }
        }
    }
    .plan-features {
        margin-bottom: 24px;
        h6 {
            margin-bottom: 20px;
        }
        p {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            &:last-child {
                margin-bottom: 0;
            }
            i {
                margin-right: 8px;
            }
        }
    }
    .plan-btn {
        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background: var(--primary);
                border-color: var(--primary);
            }
        }
    }
    &:hover {
        border-color: var(--primary);
    }

    &.popular {
        position: relative;
        .bookmark-sideright-ribbone-primary-right {
            position: absolute;
            inset-block-start: 10px;
            inset-inline-end: 0;
            color: var(--white);
            span {
                position: relative;
                display: block;
                text-align: center;
                background: var(--pink);
                font-size: 15px;
                font-weight: $font-weight-bold;
                padding: 5px 13px;
                z-index: 6;
                height: 31px;
                right: -17px;
                &::before {
                    content:"";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-top: 25px solid pink;
                    border-right: 15px solid transparent;
                    border-left: none;
                    border-bottom: none;
                    right: 0;
                    top: 31px;
                    @include respond-below(sm) {
                        content: unset;
                    }
                }
            }
        }
    }
}